<html lang="EN">
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Input message"/>
        </label>
        <label>
            <input type="text" name="tag" placeholder="Input tag">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add to list</button>
    </form>
</div>
<div>Sort by tag</div>
<form method="post" action="filter">
    <label>
        <input type="text" name="filter" placeholder="Output tag">
    </label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Search</button>
</form>
<div>Message list:</div>
{{#messages}}
<div>
    <span>{{text}}</span>
    <i><{{tag}}></i>
</div>
{{/messages}}
</body>
</html>